@page "/books"
@inject HttpClient HttpClient
@using System.Text.Json
@using RoyalLibraryFrontEnd.Models

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
        <h3>Books</h3>
        </div>
        <div class="mb-3">
            <label>Search Value</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label>Search by</label>
            <select @bind="searchType">
                @foreach (var item in dropdownItems)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button type="submit" @onclick="LoadBooks" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
@code {
    private string searchType = "Any";
    private string[] dropdownItems = { "Any", "Author", "ISBN" };
    private List<Book> books = new List<Book>();
    private readonly HttpClient _client;

    public async void LoadBooks()
    {
        var apiUrl = "royallibraryapi/load-books";
        var response = await _client.GetAsync(apiUrl);
        var content = await response.Content.ReadAsStringAsync();

    }

}
